[package]
name = "ocaml"
version = "0.23.0"
authors = ["Zach Shipko <zachshipko@gmail.com>"]
readme = "README.md"
keywords = ["ocaml", "rust", "ffi"]
repository = "https://github.com/zshipko/ocaml-rs"
license = "ISC"
description = "OCaml bindings for Rust"
documentation = "https://docs.rs/ocaml"
edition = "2018"

[package.metadata.docs.rs]
features = [ "without-ocamlopt", "derive", "link" ]

[dependencies]
ocaml-interop = "0.8.8"
ocaml-sys = {path = "./sys", version = "0.23"}
ocaml-boxroot-sys = {version = "0.2"}
ocaml-derive = {path = "./derive", optional = true, version = "0.23"}
cstr_core = {version = "0.2", optional = true}
ndarray = {version = "^0.15.1", optional = true}

[features]
default = ["derive"]
derive = ["ocaml-derive"]
link = ["ocaml-sys/link"]
without-ocamlopt = [
  "ocaml-sys/without-ocamlopt",
  "ocaml-interop/without-ocamlopt",
  "ocaml-boxroot-sys/without-ocamlopt"
]
caml-state = ["ocaml-sys/caml-state"]
no-std = ["cstr_core/alloc"]
bigarray-ext = ["ndarray"]
no-caml-startup = ["ocaml-interop/no-caml-startup"]

[workspace]
members = [
  "derive",
  "sys",
  "test"
]
