[package]
name = "ocaml"
version = "0.10.0"
authors = ["Zach Shipko <zachshipko@gmail.com>"]
readme = "README.md"
keywords = ["ocaml", "rust", "ffi"]
repository = "https://github.com/zshipko/ocaml-rs"
license = "ISC"
description = "OCaml bindings for Rust"
documentation = "https://docs.rs/ocaml"
edition = "2018"

[dependencies]
ocaml-sys = {path = "./sys"} # , version = "0.10"
ocaml-derive = {path = "./derive", optional = true} # version = "0.10"

[features]
default = ["derive"]
derive = ["ocaml-derive"]
link-native = ["ocaml-sys/link-native"]
link-bytecode = ["ocaml-sys/link-bytecode"]
deep-clone = []

[workspace]
members = [
  "derive",
  "sys",
  "example"
]
