name: OCaml tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:
  build-ubuntu:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler:
          [
            "5.4.0",
            "5.3.0",
            "5.2.0",
            "5.1.1",
            "5.0.0",
            "4.14.1",
            "4.13.1",
            "4.12.1",
            #"4.11.2",
            "4.10.2",
          ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: OCaml/Opam cache
        id: ocaml-rs-opam-cache
        uses: actions/cache@v3
        with:
          path: "~/.opam"
          key: ocaml-rs-opam-${{ matrix.ocaml-compiler }}-${{ matrix.os }}
      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
      - if: matrix.os == 'macos-latest'
        run: brew install zstd
      - if: matrix.os == 'ubuntu-latest'
        run: sudo apt install libzstd-dev
      - run: opam install dune ppx_inline_test
      - name: Run OCaml tests
        run: opam exec -- dune runtest --root=./test

        #  bench:
        #    strategy:
        #      matrix:
        #        os: [macos-latest, ubuntu-latest]
        #        ocaml-compiler: ["4.13.1"]
        #    runs-on: ${{ matrix.os }}
        #    steps:
        #      - name: Checkout code
        #        uses: actions/checkout@v2
        #      - name: OCaml/Opam cache
        #        id: ocaml-rs-opam-cache
        #        uses: actions/cache@v2
        #        with:
        #          path: "~/.opam"
        #          key: ocaml-rs-opam-${{ matrix.ocaml-compiler }}-${{ matrix.os }}
        #      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        #        uses: avsm/setup-ocaml@v2
        #        with:
        #          ocaml-compiler: ${{ matrix.ocaml-compiler }}
        #      - name: Set Opam env
        #        run: opam env | tr '\n' ' ' >> $GITHUB_ENV
        #      - name: Add Opam switch to PATH
        #        run: opam var bin >> $GITHUB_PATH
        #      - run: opam install dune ppx_inline_test notty bechamel-notty
        #      - name: Run OCaml tests
        #        run: opam exec -- dune exec --root=./test src/bench.exe
