name: ocaml-rs build

on: [push, pull_request]
jobs:
  run:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        ocaml-version: ["4.10.0", "4.09.0", "4.08.1", "4.07.0", "4.06.0"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.0.0
      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1.0
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - run: opam install dune
      - name: Build
        run: eval $(opam env) && cargo build --tests
      - name: Run tests
        run: eval $(opam env) && make test
